<form (ngSubmit)="handleSubmit(addRentalTransactionForm)" #addRentalTransactionForm="ngForm"
    class="m-4 shadow-lg p-3 bg-white rounded" style="width: 600px">
    <h5 class="text-center mb-3">Add Rental Transaction</h5>

    <mdb-form-control class="mb-4">
        <input mdbInput ngModel name="customerId" type="text" id="customerId" class="form-control" />
        <label mdbLabel class="form-label" for="customerId">Customer ID</label>
    </mdb-form-control>

    <form [formGroup]="movieIdForm" >
    <div formArrayName="movieIds">
        <button type="button" (click)="addMovie()" class="btn btn btn-outline-success mb-4">Add movie</button><br>
        <div *ngFor="let quantity of movieIds().controls; let i=index" [formGroupName]="i">
            <mdb-form-control class="mb-4">
                <input mdbInput ngModel name="movieId" type="text" id="movieId" class="form-control" formControlName="movieId"/>
                <label mdbLabel class="form-label" for="movieId">Movie ID</label>
            </mdb-form-control>
            <mdb-form-control class="mb-4">
                <input mdbInput ngModel name="daysRented" type="text" id="daysRented" class="form-control" formControlName="daysRented" />
                <label mdbLabel class="form-label" for="daysRented">Days Rented</label>
            </mdb-form-control>
            <button (click)="removeMovie(i)" class="btn btn-outline-info mb-3">Remove Movie</button>
        </div>
    </div>
    </form>

    <button type="submit" class="btn btn-warning btn-block mb-4">Add Rental Transaction</button>
</form>

<div class="m-2">
    <b>Rental transactions</b><br>
</div>
<table class="table table-hover table-bordered align-middle">
    <thead class="table-primary">
        <tr>
            <th>Rental Transaction ID</th>
            <th>Rental Time</th>
            <th>Customer ID</th>
            <th>Total Sum</th>
            <th>Transaction Line ID</th>
            <th>Movie ID</th>
            <th>Movie Title</th>
            <th>Days Rented</th>
            <th>Price</th>
            <th>Transaction Finished</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of rentalTransactions">
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.createdDate }}</td>
            <td>{{ transaction.customer.id }}</td>
            <td>{{ transaction.totalSum | number : '1.2-2'}} €</td>
            <td>
                <p *ngFor="let line of transaction.rentalTransactionLines">{{line.id}}</p>
            </td>
            <td>
                <p *ngFor="let line of transaction.rentalTransactionLines">{{line.movie.id}}</p>
            </td>
            <td>
                <p *ngFor="let line of transaction.rentalTransactionLines">{{line.movie.title}}</p>
            </td>
            <td>
                <p *ngFor="let line of transaction.rentalTransactionLines">{{line.daysRented}}</p>
            </td>
            <td>
                <p *ngFor="let line of transaction.rentalTransactionLines">{{line.price | number : '1.2-2'}} €</p>
            </td>
            <td>
                <p *ngFor="let line of transaction.rentalTransactionLines">{{line.transactionFinished}}</p>
            </td>
        </tr>
    </tbody>
</table>