<table class="table table-hover table-bordered align-middle ">
    <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>Movie ID</th>
            <th>Movie Title</th>
            <th>Late Fee</th>
            <th>Transaction Line ID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let return of returnTransactions">
            <td>{{ return.id }}</td>
            <td>{{ return.movie.id }}</td>
            <td>{{ return.movie.title }}</td>
            <td>{{ return.lateFee }}</td>
            <td>{{ return.rentalTransactionLine.id }}</td>
        </tr>
    </tbody>
</table>